<%- include('layout') %>

<h1><%= title %></h1>

<h3><%= category.name %></h3>

<% if (products.length) { %>
    <p>You need to delete all the associated products in the category</p>
    <ul>
        <% products.forEach(function(product) { %>
            <li>
                <h5><a href="<%= product.url %>"><%= product.name %></a></h5>
            </li>
        <% }); %>
    </ul>
<% } else { %>
    <p>Are you sure you want to delete this category?</p>
    <form method="POST">
        <input type="hidden" name="category_id" value="<%= category._id %>">
        <button type="submit">Delete</button>
    </form>
    <button><a href="<%= category.url %>">Cancel</a></button>
<% } %>
