<%- include('layout') %>

<% block content %>
    <h1><%= title %></h1>

    <% if (category) { %>
        <button><a href="<%= category.url + '/delete' %>">Delete</a></button>
    <% } %>

    <% if (all_products.length) { %>
        <ul class="products-list">
            <% all_products.forEach(function(product) { %>
                <a href="<%= product.url %>">
                    <li>
                        <h4 class="product-list-title"><%= product.name %></h4>
                        <% if (product.image.length) { %>
                            <img src="<%= product.image %>" class="prod-list-image">
                        <% } %>
                        <div class="product-list-details">
                            <p class="rating-in-list">Rating: <%= product.rating %></p>
                            <p class="price-in-list">Price: $<%= product.price %></p>
                        </div>
                    </li>
                </a>
            <% }); %>
        </ul>
    <% } else { %>
        <p>There are NO products in SHOP</p>
    <% } %>
<% endblock %>
